*.vsidx
*.vsidx
Parcial1/.vs/Parcial1/FileContentIndex/706dac5b-2f2b-46f9-85db-799156ae12e5.vsidx
/Parcial1/.vs
Parcial3/DjoseaOneDriveDocumentosGitHubIRC9.1_munoz_sanchez_jose_antonioParcial3ursl.csv
